<!DOCTYPE html>
<html>
    <head>
        <title>Widgets Info</title>

        <script type="text/javascript" src="./../angular.min.js"></script>
        <script src="popup.js" type="text/javascript"></script>

        <link href="popup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="popup"
             ng-app="popup"
             ng-controller="popupController as app"
             ng-class="popupActive ? 'popup-active' : ''">
            <header>
                <h1>Elfsight Widgets Info</h1>
                <widgets-count ng-if="count" class="widgets-count"></widgets-count>
            </header>

            <main>
                <div ng-if="count">
                    <div ng-repeat="widgetData in widgetsData" class="widget"
                         ng-mouseenter="highlightWidget(widgetData.id, true)"
                         ng-mouseleave="highlightWidget(widgetData.id, false)"
                         ng-click="moveToWidget(widgetData.id)">
                        <div class="widget-header">
                            <div class="widget-header-app">{{widgetData.app_name}}</div>
                            <div class="widget-header-type">{{widgetData.app_type}}</div>
                        </div>

                        <pre class="widget-settings">{{widgetData.settings | json}}</pre>
                    </div>
                </div>
                <widgets-empty ng-if="!count" class="widgets-empty"></widgets-empty>
            </main>

            <footer>
                <label><input ng-model="settings.highlight" type="checkbox" checked>Highlight all widgets</label>
            </footer>
        </div>
    </body>
</html>
