<!DOCTYPE html>
<html>
    <head>
        <title>Widgets Info</title>

        <script type="text/javascript" src="./../angular.min.js"></script>
        <script src="popup.js" type="text/javascript"></script>

        <link href="popup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="popup" ng-app="popup" ng-controller="popupController as app">
            <header>
                <h1>Elfsight Widgets Info</h1>
                <widgets-count ng-if="count" class="widgets-count"></widgets-count>
            </header>

            <main>
                <div ng-if="count">
                    <div ng-repeat="widgetData in widgetsData">
                        <div>{{widgetData.app}}</div>
                        <div>{{widgetData.type}}</div>
                        <div>{{widgetData.settings}}</div>
                    </div>
                </div>
                <div ng-if="!count" class="widgets-empty">
                    Widgets not detected
                </div>
            </main>

            <footer>
                <label><input type="checkbox" checked>Highlight widgets</label>
            </footer>
        </div>
    </body>
</html>
