body {
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    margin: 0;
}

.popup {
    min-width: 300px;
    background: #38393a;
}

    .popup header,
    .popup footer {
        padding: 8px 16px;
        display: flex;
        background: #ffffff;
        color: #38393a;
        line-height: 16px;
    }

    .popup header {
        justify-content: space-between;
    }

        .popup header h1 {
            font-size: 14px;
            margin: 0;
        }

        .popup header .widgets-count {
            font-size: 12px;
        }

    .popup footer {
        justify-content: flex-end;
    }

        .popup footer label{
            font-size: 12px;
        }

            .popup footer label input{
                position: relative;
                bottom: -2px;
                margin: 0 4px 0 0;
            }

    .popup main {
        display: flex;
        background: #38393a;
        color: #ffffff;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height .3s .2s, opacity .3s .4s;
    }

    .popup-active main {
        max-height: 700px;
        opacity: 1;
    }

        .popup main .loader-container {
            width: 100%;
            height: 100px;
        }

        .popup main .loader {
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            border-style: solid;
            border-top-color: transparent;
            animation: popup-loader 1s infinite linear;
            opacity: 1;
            visibility: visible;
            width: 32px;
            height: 32px;
            margin: -16px 0 0 -16px;
            border-width: 2px;
            z-index: 1;
        }

        @keyframes popup-loader {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .popup main .widgets-empty{
            padding: 8px 16px;
            text-align: center;
            font-size: 12px;
            width: 100%;
        }

            .popup main .widgets-empty .widgets-empty-text,
            .popup main .widgets-empty .widgets-empty-reload {
                padding: 4px 8px;
            }

                .popup main .widgets-empty .widgets-empty-reload .widgets-empty-reload-button {
                    cursor: pointer;
                    padding: 4px 8px;
                    color: #38393a;
                    background: #fff;
                    border-radius: 2px;
                    display: inline-block;
                }

                .popup main .widgets-empty .widgets-empty-reload .widgets-empty-reload-status {
                    padding: 4px 8px;
                }

        .widget {
            padding: 8px 16px;
            border-bottom: 1px solid #303131;
        }

            .widget:hover {
                background: rgba(0,0,0,.1);
            }

            .widget .widget-header {
                display: flex;
                justify-content: space-between;
                line-height: 16px;
            }

                .widget .widget-header .widget-header-app {
                    font-size: 12px;
                }

                    .widget .widget-header .widget-header-app-version {
                        font-weight: normal;
                        font-size: 10px;
                        color: #FF6162;
                    }

                        .widget .widget-header .widget-header-app-version.widget-header-app-version-actual {
                            color: #52f300;
                        }

                .widget .widget-header .widget-header-type {
                    font-size: 10px;
                }

            .widget .widget-settings {
                width: 284px;
                max-height: 200px;
                background: #ffffff;
                color: #38393a;
                border: 1px solid #303131;
                border-radius: 3px;
                padding: 4px 8px;
                overflow-x: hidden;
                overflow-y: auto;
            }