.ceewi
    &-wrap
        position relative
        min-height 50px
        transition box-shadow .3s
        box-shadow 0 0 1px 1px rgba(0, 0, 0, .04)

        &:hover
            box-shadow 0 0 1px 1px rgba(0, 0, 0, .2)

            .ceewi-label
                opacity 1

        &.ceewi-highlight
            box-shadow 0 0 1px 1px rgba(249, 50, 98, 1)

    &-label
        position absolute
        right 20px
        bottom 8px
        background #38393a url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAEgSURBVChTlZG7SgNREIYXYzBga+PipdHGNKYUQuwF8YZ9SoukCCQEBJ9AkJT7BHmCFRsfwsJytUmwUzTNgnv2HL8ZRxCxycDHzPzzz9mzu5H3/iyEUI0s6Bv07+QCMriBVRuroQdPcAFLmCvkHdguiuKo9P6O+hVatqJLB/BRluWE3GGpZiMN59xQngobJulSHTLEQH6BLuWCjWV+C0mE2KToi0i9Qv0gSxZtdRNc74TZRDaHkJouS+1vrz7pymTRd7myUwODR9PlgDUG038WjumnYojhE/ZsJtoy9DCdmyRaCslPcw3yzddV+BPO+QHL8m82VaBZpBmDfO9LaOR5vsWLHlLLyW+wr+bfgXjK/e/JM3lB8jOMIDaLnj4HIfoCxvRigdqppKQAAAAASUVORK5CYII=') no-repeat 12px center
        color #ffffff
        font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
        font-size 12px
        font-weight normal
        letter-spacing .4px
        line-height 1
        padding 4px 12px 4px 32px
        border-radius 2px
        cursor pointer
        z-index 100
        opacity .8
        margin 0 !important
        transition background .3s, opacity .3s

        &:hover
            background-color #303131
